@{
    ViewData["Title"] = "FPL Players";
    string[] TableHeaders = new string[] {
        "Position", "First Name", "Last Name",  "Total Points", "Goals", "Assists", 
         "Clean Sheets", "Form", "Cost", "PPG",  "%", 
         "Team", "Transfers In", "Transfers Out",  "Minutes Played", "Conceded", "Own Goals", "Pens Saved", "Pens Missed", "Yellow Cards", "Red Cards", 
         "Saves", "Bonus"};


        @* "id", "first_name", "second_name", "in_dreamteam", "news", transfers_out_event, value_form, value_season, transfers_in_event, team_code, special, squad_number, status, news_added, photo, ep_next, ep_this, event_points, chance_of_playing_next_round, chance_of_playing_this_round, code, cost_change_event, 
        cost_change_event_fall, cost_change_start, cost_change_start_fall, dreamteam_count, corners_and_indirect_freekicks_order, corners_and_indirect_freekicks_text, direct_freekicks_order, 
        direct_freekicks_text, penalties_order, penalties_text, influence_rank, influence_rank_type, creativity_rank, 
        creativity_rank_type, threat_rank, threat_rank_type, ict_index_rank, ict_index_rank_type,  *@

    
}

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

        <style>
            table.center {
                margin-left:auto; 
                margin-right:auto;
            }
        </style>

        <title> FPL Players </title>

    </head>

    <body>
        <h1>
            Players
        </h1>

        <div>
            <table id="myTable" class="center table-striped table-bordered table-responsive table-sm fixed" cellspacing="0" width="100%">
  
            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders){
                            <th> @head </th>
                        }
                    }
                </tr>
            </thead>
            
            <tbody>
                @{
                    if (Model != null) {
                        foreach (var Data in Model) {
                            <tr>
                                <td>@Data.element_type</td>
                                <td>@Data.first_name</td>
                                <td>@Data.second_name</td>
                                <td>@Data.total_points</td>
                                <td>@Data.goals_scored</td>
                                <td>@Data.assists</td>
                                <td>@Data.clean_sheets</td>
                                <td>@Data.form</td>
                                <td>@Data.now_cost</td>
                                <td>@Data.points_per_game</td>
                                <td>@Data.selected_by_percent</td>
                                <td>@Data.team</td>
                                <td>@Data.transfers_in</td>
                                <td>@Data.transfers_out</td>
                                <td>@Data.minutes</td>
                                <td>@Data.goals_conceded</td>
                                <td>@Data.own_goals</td>
                                <td>@Data.penalties_saved</td>
                                <td>@Data.penalties_missed</td>
                                <td>@Data.yellow_cards</td>
                                <td>@Data.red_cards</td>
                                <td>@Data.saves</td>
                                <td>@Data.bonus</td>
                            </tr>
                        }
                    }
                }
            </tbody>

            <tfoot>
                <tr>
                    @{
                        foreach (var head in TableHeaders){
                            <th> @head </th>
                        }
                    }
                </tr>
            </tfoot>

        </table>

        </div>
        

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

        <script>$('#myTable').DataTable();</script>
    
    </body>

</html>